@import 'theme/colors.scss';
@import 'theme/spacings.scss';
@import 'theme/shadows.scss';
@import 'theme/typography.scss';

.wrapper {
  display: flex;
  flex-flow: column nowrap;

  padding: $spc-l;

  background: radial-gradient(farthest-corner at 30% 20%, $accent, $dark);
  align-items: center;
}

.title {
  margin: 10vh 0 0 0;

  color: $white-text;
  text-shadow: $text-shadow-m;
}

.subtitle {
  color: $white-text;

  text-align: right;
  text-transform: uppercase;
  text-shadow: $text-shadow-m;
}

.description {
  padding: $spc-l 0 $spc-xxl;

  color: $white-text;
  letter-spacing: $letter-spc-s;
  text-shadow: $text-shadow-s;
}

.link {
  color: $white;
  text-transform: uppercase;
  text-shadow: $text-shadow-s;
}
