@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';
@import 'theme/typography.scss';

.welcome {
  display: flex;
  flex-flow: column-reverse nowrap;
  margin: 0 auto;

  justify-content: center;
  align-items: center;

  max-width: 68.75rem;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  padding: 0 $spc-m;
  margin: 0 auto;

  align-items: flex-start;
  text-align: center;
  max-width: 31.25rem;
}

.title {
  width: 100%;
  margin: 8vh 0 $spc-s;

  background: -webkit-linear-gradient(45deg, #6d76de, #6dd4de);

  font-family: $fontHeadings;
  font-size: 2.375rem;
  font-weight: 900;
  color: $dark;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profilePicture {
  margin-top: $spc-l;
}

.description {
  width: 100%;
  margin-bottom: $spc-l;

  font-size: 1.25rem;
  color: $dark;
  line-height: 130%;

  letter-spacing: $letter-spc-s;
  max-width: 34.38rem; // 550px
}

.link {
  font-weight: 500;
  color: $dark;
}

@media screen and (min-width: $small-desktop) {
  .welcome {
    flex-flow: row nowrap;
    margin-top: $spc-xxl;

    justify-content: space-between;
  }

  .wrapper {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .profilePicture {
    margin-top: 0;
  }  
}
