@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';
@import 'theme/shadows.scss';
@import 'theme/typography.scss';

.welcome {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  padding: 0 $spc-l;

  background: radial-gradient(farthest-corner at 30% 20%, $accent, $dark);
  align-items: center;
}

.title {
  margin-top: 5vh;

  color: $white-text;
  text-shadow: $text-shadow-m;
}

.subtitle {
  margin: 0 0 $spc-xxl+$spc-m;

  color: $white-text;

  text-align: right;
  text-transform: uppercase;
  text-shadow: $text-shadow-m;
}

.profilePicture {
  min-height: 9.375rem;
  width: 9.375rem;
  margin-top: -4.688rem; // 75px
}

.description {
  width: 100%;

  padding: 0 $spc-l;

  color: $dark;
  letter-spacing: $letter-spc-s;
  text-shadow: $text-shadow-s;
  max-width: 34.38rem; // 550px
  text-align: left;
}

.link {
  color: $accent;
  text-transform: uppercase;
  text-shadow: $text-shadow-s;
}

.socialIcon {
  padding-bottom: $spc-l;
  fill: $accent;
}

.tooltip {
  background: $accent;
  color: $white;

  &:after {
    border-color: $accent transparent transparent transparent;
  }
}

.socialIconLink {
  color: $dark;

  &:hover {
    .socialIcon {
      fill: $dark;
    }
  }
}

@media screen and (min-width: $tablet) {
  .subtitle {
    margin: 0 0 $spc-xxxl;
  }

  .description {
    padding: $spc-l;
  }

  .profilePicture {
    min-height: 12.5rem;
    width: 12.5rem;
    margin-top: -$spc-xxl;
  }
}
