@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';

.cv {
  display: flex;
  flex-flow: column nowrap;

  background: $white;
}

.wrapper {
  background: linear-gradient(20deg, #6d76de, #6dd4de 300%);
}

.closeButton {
  height: 2.625rem; // 42px
  width: 2.625rem;

  padding: $spc-m $spc-m 0 0;

  position: fixed;
  align-self: flex-end;
  fill: $white-text;
}

.title {
  padding: 4vh 0 0 10vw;

  color: $white-text;
}

.description {
  padding: 0 0 $spc-l 15vw;

  color: $white-text;
}

.cardTitle {
  padding: $spc-m 0 0 10vw;

  font-weight: 400;

  color: $dark;
}

.cardDescription {
  padding: 0 0 $spc-xl 15vw;

  color: $dark;
  border-bottom: 1px solid $grey;
}

@media screen and (min-width: $desktop) {
  .title {
    padding-left: 18vw;
  }

  .description {
    padding-left: 20vw;
  }

  .cards {
    display: flex;
    flex-flow: row nowrap;

    width: 1000px;
    margin-top: $spc-l;

    justify-content: space-between;
    align-self: center;
  }

  .card {
    width: 18.75rem;
    padding: $spc-m;

    background: $white;

    align-self: center;
    box-shadow: 0px 4px 8px -2px $shadow;
  }

  .cardTitle {
    padding: 0;
  }

  .cardDescription {
    padding: 0;
    border-bottom: 0;
  }
}
