@import 'theme/colors.scss';
@import 'theme/spacings.scss';

.icons {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
}

.tooltip {
  display: block;

  width: 5rem;
  padding: $spc-s;

  position: relative;
  top: -1rem;
  left: -1.5rem;

  background: $white-text;

  font-size: 0.8rem;
  font-weight: bold;
  color: $dark;
  border-radius: 3px;

  text-align: center;
  text-transform: uppercase;

  visibility: hidden;

  &:after {
    display: block;
    height: 0;
    width: 0;

    position: absolute;
    left: 50%;

    border: solid;
    border-color: $white-text transparent transparent transparent;
    border-width: 10px 10px 0 10px;

    content: '';
    transform: translate(-50%, 100%);
  }
}

.icon {
  width: 1.875rem;

  position: relative;

  fill: $form-color;

  cursor: pointer;
}

.link {
  width: 2rem;

  color: $white;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;

    .icon {
      fill: $white;
    }

    .tooltip {
      visibility: visible;
    }
  }
}
