@import 'theme/borders.scss';
@import 'theme/colors.scss';
@import 'theme/spacings.scss';
@import 'theme/screens.scss';

.icons {
  display: flex;
  flex-flow: row nowrap;

  width: 12rem;
  margin: $spc-s auto;

  justify-content: space-between;
}

.link {
  margin-bottom: $spc-l;

  position: relative;
}

.tooltip {
  display: block;

  width: 5rem;

  position: absolute;
  top: -#{$spc-xl};
  left: -1.5rem;

  background: $white-text;

  background: linear-gradient(20deg, #6d76de, #6dd4de 300%);

  font-size: 0.8rem;
  font-weight: bold;
  color: $dark;
  color: $white;
  border-radius: $radius-small;

  text-align: center;
  text-transform: uppercase;

  visibility: hidden;

  &:after {
    display: block;
    height: 0;
    width: 0;

    position: absolute;
    left: 50%;

    border: solid;
    border-color: $white-text transparent transparent transparent;
    border-width: 10px 10px 0 10px;

    content: '';
    transform: translate(-50%, 100%);

    border-color: $accent transparent transparent transparent;
  }
}

.icon {
  width: 1.875rem;


  position: relative;

  cursor: pointer;
  fill: $dark;
  transition: 0.2s ease-out;
}

.link {
  width: 2rem;

  color: $dark;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;

    .icon {
      fill: $shadow;
    }

    .tooltip {
      visibility: visible;
    }
  }
}

@media screen and (min-width: $small-desktop) {
  .icons {
    margin: $spc-s;
  }
}
