@import 'theme/colors.scss';
@import 'theme/spacings.scss';
@import 'theme/shadows.scss';

.wrapper {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  padding-top: $spc-l;

  background: $secondary;
}

.title {
  color: $light-text;
  text-align: center;
  text-shadow: $heading-shadow;
}

.description {
  margin: 0 $spc-l;

  font-weight: 400;
  color: $white;
}

.link {
  color: $accent;
  text-decoration: none;
  text-shadow: $link-shadow;
}
