@import 'theme/colors.scss';
@import 'theme/spacings.scss';

.about {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 $spc-l;

  background: transparent;

  align-items: center;
}

.subtitle {
  align-self: flex-end;
  text-align: right;
}

.left {
  text-align: left;
}
