@import 'theme/colors.scss';
@import 'theme/spacings.scss';
@import 'theme/shadows.scss';

.contact {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  width: 100vw;

  padding: $spc-l 0 $spc-xxl 0;

  background: $secondary;
  align-items: center;
}

.title {
  color: $white;

  text-align: center;
  text-transform: uppercase;
  text-shadow: $heading-shadow;
}

.form {
  display: flex;
  flex-flow: column nowrap;

  width: 80%;
  width: 80vw;

  margin-top: $spc-m;
}

.input {
  height: 3.125rem; //50px

  padding: $spc-s;
  margin-bottom: $spc-s;

  background: $form-color;

  font-size: 1rem;

  border: 1px solid $accent;
  border-bottom: 3px solid $accent;
  border-radius: 6px;

  &::placeholder {
    color: $primary;
    text-align: center;
  }
}

.textarea {
  height: 9.375rem; // 150px

  padding: $spc-s;
  margin-bottom: $spc-s;

  background: $form-color;

  font-size: 1rem;

  border: 1px solid $accent;
  border-bottom: 3px solid $accent;
  border-radius: 6px;

  &::placeholder {
    color: $primary;
    text-align: center;
  }
}

.button {
  height: 3.125rem;
  width: 10.94rem; //175px

  padding: $spc-s;

  background: $primary;

  font-size: 1.1rem;
  font-weight: 500;

  color: $light-text;

  border: 1px solid $primary;
  border-radius: 6px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);

  align-self: center;
}
