@import 'theme/borders.scss';
@import 'theme/colors.scss';
@import 'theme/shadows.scss';
@import 'theme/spacings.scss';
@import 'theme/typography.scss';

.contact {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;

  padding: $spc-l 0 $spc-xxxl;

  align-items: center;
}

.title {
  padding-bottom: $spc-l;

  font-weight: bold;
  color: $dark;
  text-transform: uppercase;
  text-shadow: $text-shadow-m;
}

.form {
  display: flex;
  flex-flow: column nowrap;

  width: 85%;
  width: 85vw;

  max-width: 34.38rem;
}

.input,
.textarea {
  height: 3.438rem; // 55px

  padding: $spc-s;
  margin-bottom: $spc-s;

  background: $form-color;

  font-size: 1.25rem; // 20px
  color: $dark;

  border: 1px solid $grey;
  border-radius: $form-radius;

  &::placeholder {
    font-weight: 300;
    color: $dark;
    text-align: center;
  }

  &:focus {
    outline: none;
    border-color: $dark;
    box-shadow: 2px 2px 4px $form-focus-color, -2px -2px 4px $form-focus-color,
      2px -2px 4px $form-focus-color, -2px 2px 4px $form-focus-color;
  }
}

.textarea {
  height: 14.38rem; // 230px
  padding-top: $spc-m;
}

.button {
  height: 3.75rem; // 60px
  width: 10rem; // 160px

  padding: $spc-s;
  margin-top: $spc-s + 0.0625rem;

  background: $accent;

  font-size: 1.25rem; // 20px
  font-weight: 400;

  color: $white-text;

  border: 1px solid $accent;
  border-radius: $form-radius;

  box-shadow: 4px 4px 8px $shadow;

  letter-spacing: $letter-spc-m;
  align-self: center;
  outline: none;

  cursor: pointer;

  &:hover {
    margin-top: $spc-s;
    margin-bottom: 0.0625rem;

    background: $button-color;
    color: $white;

    border-color: $button-color;
    box-shadow: 5px 5px 10px $shadow;
  }

  &:active {
    box-shadow: 2px 2px 4px $shadow;
  }
}
