$white: #fff;
$white-text: rgb(241, 240, 241);

$primary: #2f215e;
$secondary: #d3d3d3;
$accent: #5f498b;

$form-color: rgba(241, 240, 241, .9);
$form-focus-color: $accent;
$button-color: rgba(47, 33, 94, .93);

$shadow: rgba(0, 0, 0, 0.4);
