$white: #fff;
$white-text: #f1f0f1;
$grey: #d3d3d3;

$dark: #002836;
$light: $white-text;
$accent: #4F31AB;

$form-color: rgba(255, 255, 255, .7);
$form-focus-color: rgba(95, 73, 139, .6);
$button-color: rgba(47, 33, 94, .93);

$shadow: rgba(0, 0, 0, 0.4);
