$white: #fff;
$white-text: #f2f2f2;
$primary: #021e29;
$secondary: #0e9daf;
$accent: #702A7C;
$light-text: #28daf6;

$form-color: rgba(40, 218, 246, .6);
$form-focus-color: rgba(112, 42, 124, .4);

$shadow: rgba(0, 0, 0, 0.5);
