@import url('https://fonts.googleapis.com/css?family=Nunito:400,800,900|Rubik:400,500');


$fontRegular: 'Rubik', 'Roboto', sans-serif;
$fontHeadings: 'Nunito', sans-serif;

$letter-spc-m: 0.135rem;
$letter-spc-s: 0.03rem;
