@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Alegreya+Sans:300,400,500,700');

$fontRegular: "Open Sans", sans-serif;
$fontHeading: 'Alegreya Sans', sans-serif;

$letter-spc-m: 0.135rem;
