@import 'theme/colors.scss';
@import 'theme/spacings.scss';

.footer {
  display: flex;
  flex-flow: column nowrap;

  height: 11rem;

  padding-bottom: $spc-m;

  background: $dark;

  justify-content: flex-end;
  align-items: center;

  color: $white-text;
  text-align: center;
}

.link {
  color: $white;
  text-transform: uppercase;
}
