@import 'theme/spacings.scss';
@import 'theme/typography.scss';
@import 'theme/colors.scss';
@import 'theme/shadows.scss';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:global(#app) {
  min-height: 100%;
  width: 100%;

  background: $light;

  font-family: $fontRegular;
  font-size: 16px !important;
  box-sizing: border-box;

  overflow: auto;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

:global(.heading) {
  width: 100%;
}

h1 {
  margin: 2.01rem 0;

  font-size: 3rem;
  font-weight: 900;
}

h2 {
  margin: 1.8675rem 0;

  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  margin: 1.5rem 0;

  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: $letter-spc-m;
}

h4 {
  font-size: 0.8125rem;
  font-weight: 700;

  letter-spacing: $letter-spc-s;
}

a {
  letter-spacing: $letter-spc-s;

  text-decoration: none;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
