@import 'theme/borders.scss';
@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';
@import 'theme/typography.scss';

$grid-gap-small: $spc-m;
$grid-gap-big: $spc-l;

$mobile-column-width: 42vw;
$mobile-grid-width: calc(2 * #{$mobile-column-width} + #{$grid-gap-small});

$tablet-column-width: 25vw;
$tablet-grid-width: calc(2 * #{$tablet-column-width} + #{$grid-gap-big});

.content {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.work {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto $spc-xl;

  justify-content: center;
  align-items: center;
  max-width: $mobile-grid-width;
}

.title {
  padding: $spc-m 0 0;

  color: $dark;
  align-self: flex-start;
}

.detail {
  line-height: 1.4;
  align-self: flex-start;
}

.description {
  display: flex;

  color: $dark;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;

  justify-content: center;
}

.images {
  display: grid;

  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: $spc-l;
}

.imageContainer {
  overflow: hidden;

  video {
    border-radius: $radius-large;
  }

  img,
  video {
    width: 100%;
    object-fit: cover;
  }
}

.big {
  grid-template-columns: repeat(2, $mobile-column-width);
  grid-template-rows: repeat(4, $mobile-column-width);
  gap: $grid-gap-small;

  .imageContainer:first-of-type {
    grid-column: span 2;
    grid-row: span 2;
  }

  .imageContainer {
    img,
    video {
      height: 100%;
    }
  }
}

.exampleImage {
  width: 100%;
  border-radius: $radius-large;
}

@media screen and (min-width: $tablet) {
  .work {
    max-width: $tablet-grid-width;
  }

  .big {
    grid-template-columns: repeat(2, $tablet-column-width);
    grid-template-rows: repeat(4, $tablet-column-width);
    gap: $grid-gap-big;
  }
}

@media screen and (min-width: $small-desktop) {
  .work {
    padding: $spc-xxl 0;
    margin-bottom: 0;
    max-width: 68.75rem;
  }

  .line {
    width: 66%;
  }

  .title {
    padding: $spc-m 0 0;
  }

  .description {
    padding: 0 0 $spc-m;
    max-width: unset;
    line-height: 1.25em;
  }

  .images {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .big {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(204px, 1fr));
  }
}
