@import 'theme/borders.scss';
@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';
@import 'theme/typography.scss';

.content {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.work {
  display: flex;
  flex-flow: column nowrap;

  margin-bottom: $spc-xl;

  justify-content: center;
  align-items: flex-start;

  max-width: 68.75rem;
}

.title {
  padding: $spc-m $spc-l 0;

  color: $dark;
}

.description {
  width: 100%;

  padding: 0 $spc-l $spc-m;

  color: $dark;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;

  justify-content: center;
}

.images {
  display: grid;
  padding: 0 $spc-l;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: $spc-l;
}

.imageContainer {
  overflow: hidden;

  img,
  video {
    width: 100%;
    object-fit: cover;
  }
}

.big {
  grid-template-columns: repeat(2, 40vw);
  grid-template-rows: repeat(4, 40vw);

  .imageContainer:first-of-type {
    grid-column: span 2;
    grid-row: span 2;
  }

  .imageContainer {
    img,
    video {
      height: 100%;
    }
  }
}

.exampleImage {
  width: 100%;
  border-radius: $radius-large;
}

@media screen and (min-width: $tablet) {
  .big {
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(4, 25vw);
  }
}

@media screen and (min-width: $small-desktop) {
  .work {
    padding: $spc-xxl 0;
    margin-bottom: 0;
  }

  .line {
    width: 66%;
  }

  .title {
    padding: $spc-m 0 0;
  }

  .description {
    padding: 0 0 $spc-m;
    line-height: 1.25em;
  }

  .images {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .big {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(204px, 1fr));
  }
}
