@import 'theme/colors.scss';
@import 'theme/screens.scss';
@import 'theme/spacings.scss';
@import 'theme/shadows.scss';
@import 'theme/typography.scss';

.content {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.work {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: flex-start;

  max-width: 68.75rem;
}

.title {
  padding: $spc-m $spc-l 0;

  color: $dark;

  text-shadow: $text-shadow-s;
}

.description {
  width: 100%;

  padding: 0 $spc-l $spc-m;

  color: $dark;
  max-width: 34.38rem; // 550px
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;

  justify-content: center;
}

.images {
  display: grid;
  width: 100%;
  padding: 0 $spc-l;
  grid-template-columns: 1fr;
  gap: $spc-l;
}

.big {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .imageContainer:first-of-type {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.exampleImage {
  width: 100%;
  align-self: flex-start;
}

@media screen and (min-width: $small-desktop) {
  .work {
    padding-bottom: $spc-xxl;
  }

  .line {
    width: 66%;
  }

  .title {
    padding: $spc-m 0 0;

    font-weight: bold;
    color: $accent;
  }

  .description {
    width: 81%;
    padding: 0 0 $spc-m;
  }

  .images {
    padding: 0;
    grid-template-columns: repeat(3, 3fr);
  }

  .big {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
